/* banner image */
.banner-1,
.banner-2,
.banner-3 {
    height:90vh;
    background-repeat: none;
    background-size: cover;
    background-blend-mode:overlay;
}

.banner-1 {
    background-image: url("./images/banner.png");
}

.banner-2 {
    background-image: url("./images/banner-5.jpg"),linear-gradient(rgb(102, 100, 100),rgb(29, 29, 29));
}

.banner-3 {
    background-image: url("./images/banner-3.jpg"),linear-gradient(rgb(102, 100, 100),rgb(29, 29, 29));
}